# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.github
!.mailmap
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore
# maintenance migration scripts
odoo/addons/base/maintenance

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# js tooling
node_modules
jsconfig.json
tsconfig.json
package-lock.json
package.json
.husky

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
/modules
/modules/.vs/modules/v17/.wsuo
/modules/.vs/modules/v17/TestStore/0/000.testlog
/modules/.vs/modules/FileContentIndex/70d0bbfb-5dbe-4466-8792-6c947f88f9b6.vsidx
/modules/.vs/modules/FileContentIndex/aa55301e-2768-4576-add6-759213784e3f.vsidx
/modules/.vs/modules/FileContentIndex/b4716c83-7774-4c02-9f8a-3c2d97827551.vsidx
/modules/.vs/modules/FileContentIndex/c7affa6d-09de-4207-ba11-ef0162012d4e.vsidx
/modules/.vs/modules/FileContentIndex/read.lock
/modules/.vs/slnx.sqlite
/modules/.vs/modules/v17/TestStore/0/testlog.manifest
/modules/.vs/VSWorkspaceState.json
